<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Document</title>
</head>
<body>

<body>


        <div id="wrapper">
           <div class="sense">
                <article id="pageBody">
        
                    <div class="point_box">
                    <div class="box">
                    <div class="txt">
                    <p>いまのあなたの状態を教えてね</p>
                    </div>
                    </div>
                    </div>
        
        
                    <ul class="qalist wf-mplus1p">
        
                    <li id="1" class="question">
                        <a name="#1"></a>
                        <div class="qbox"><span  class="q">Q.</span>頭がすっきりしない</div>
                        <div class="qabox">
                            <a href="#2" onclick="show(2)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#3" onclick="show(3)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>



                    <li id="2" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>いつもねむい</div>
                        <div class="qabox">
                            <a href="#4" onclick="show(4)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#5" onclick="show(5)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>
                    <li id="3" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>いつもねむい</div>
                        <div class="qabox">
                            <a href="#6" onclick="show(6)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#7" onclick="show(7)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>



                    <li id="4" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>めまいや立ちくらみがする</div>
                        <div class="qabox">
                            <a href="#8" onclick="show(8)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#9" onclick="show(9)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                        </div>
                    </li>
                    <li id="5" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>めまいや立ちくらみがする</div>
                        <div class="qabox">
                            <a href="#10" onclick="show(10)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#11" onclick="show(11)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="6" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>めまいや立ちくらみがする</div>
                        <div class="qabox">
                            <a href="#12" onclick="show(12)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#13" onclick="show(13)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="7" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>めまいや立ちくらみがする</div>
                        <div class="qabox">
                            <a href="#14" onclick="show(14)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#15" onclick="show(15)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>



                    <li id="8" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#16" onclick="show(16)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#17" onclick="show(17)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="9" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#18" onclick="show(18)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#19" onclick="show(19)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="10" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#20" onclick="show(20)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#21" onclick="show(21)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="11" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#22" onclick="show(22)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#23" onclick="show(23)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="12" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#24" onclick="show(24)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#25" onclick="show(25)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="13" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#26" onclick="show(26)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#27" onclick="show(27)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="14" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#28" onclick="show(28)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#29" onclick="show(29)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>
                    <li id="15" class="question" style="display:none;">
                        <a name="#"></a>
                        <div class="qbox"><span  class="q">Q.</span>夢を見ることがおおい</div>
                        <div class="qabox">
                            <a href="#30" onclick="show(30)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                            <a href="#31" onclick="show(31)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                    </div>
                    </li>

                    <li id="16" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#101" onclick="show(101)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#102" onclick="show(102)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>

                <li id="17" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#102" onclick="show(102)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>

                <li id="18" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#102" onclick="show(102)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="19" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>

                <li id="20" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#102" onclick="show(102)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="21" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="22" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="23" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#105" onclick="show(105)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>

                <li id="24" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#102" onclick="show(102)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="25" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="26" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="27" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#105" onclick="show(105)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="28" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#103" onclick="show(103)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="29" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#105" onclick="show(105)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="30" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#104" onclick="show(104)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#105" onclick="show(105)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                <li id="31" class="question" style="display:none;">
                    <a name="#"></a>
                    <div class="qbox"><span  class="q">Q.</span>気持ちが晴れていない</div>
                    <div class="qabox">
                        <a href="#105" onclick="show(105)" class="qabtn" ><div class="btnBox btnBox_y">YES</div></a>
                        <a href="#106" onclick="show(106)" class="qabtn" ><div class="btnBox btnBox_n">NO</div></a>
                </div>
                </li>
                </ul>

                <div class="answerList">
        
                <div id="101" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>100%<span class="fs-18"><span class="bg-y">ストレス度マックス！</span></span></p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>疲れてるね。もっとマイペースに暮らしてもいいかも。ねこちゃんにたくさん褒められてね。</p>
                        <p><a href="homes" class="square_btn">いやしてもらう</a></p>
                    </div>
                    </div>
                </div>

                <div id="102" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>80%<span class="fs-18"><span class="bg-y">ストレス度高め！</span></span></p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>かなり疲れてるね。すきなもの食べてたくさん寝よう。すきなねこちゃん見ていやされてね</p>
                        <p><a href="homes" class="square_btn">いやしてもらう</a></p>
                    </div>
                    </div>
                </div>

                <div id="103" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>60%<span class="fs-18"><span class="bg-y">ちょっとストレスを感じてるかも！</span></span></p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>
                        <p><a href="homes" class="square_btn">いやしてもらう</a></p>
                    </div>
                    </div>
                </div>

                <div id="104" style="display:none;" class="answer point_box">
                    <div class="box">
                        <div class="title">
                        <p>40%<span class="fs-18"><span class="bg-y">ちょっとストレスを感じてるかも！</span></span></p>
                        </div>
                    <div class="txt">
                        <div class="img">
                        <%= image_tag '' %></div>
                        <p>すきなことしてストレス解消しよう！ねこちゃん動画探してみるのおすすめだよ。</p>
                        <p><a href="homes" class="square_btn">いやしてもらう</a></p>
                    </div>
                    </div>
                </div>

                <div id="105" style="display:none;" class="answer point_box">
                <div class="box">
                    <div class="title">
                    <p>20%<span class="fs-18"><span class="bg-y">ストレス度は軽め！</span></span></p>
                    </div>
                <div class="txt">
                    <div class="img">
                    <%= image_tag '' %></div>
                    <p>自分の調子は自分でとるプロ！でも適度に休んでね。ねこちゃんがもっと元気にさせてくれるかも！</p>
                    <p><a href="homes" class="square_btn">いやしてもらう</a></p>
                    </div>
                    </div>
                </div>

                <div id="106" style="display:none;" class="answer point_box">
                <div class="box">
                    <div class="title">
                    <p>0%<span class="fs-18"><span class="bg-y">ストレス度0!</p>
                    </div>
                <div class="txt">
                    <div class="img">
                    <%= image_tag '' %></div>
                    <p>ストレス状態に問題なし。ストレス付き合いのプロだね！ねこちゃんに褒められてもっと元気になっちゃおう。</p>
                    <p><a href="homes" class="square_btn">いやしてもらう</a></p>
                    </div>
                    </div>
                </div>   

        </article>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">
$(function(){
   $('a[href^=#]').click(function() {
      var speed = 600;
      var href= $(this).attr("href");
      var target = $(href == "#" || href == "" ? 'html' : href);
      var position = target.offset().top;
      $('body,html').animate({scrollTop:position}, speed, 'swing');
      return false;
   });
});
$(function(){
    h = $(window).height();
    h = h-30;
    $(".question").css("min-height", h + "px");
    $(".answerList .box").css("min-height", h + "px");
    
});
function show(idName){ 
    $("#" + idName).show();
}

</script>

<footer>
<p>Copyright © Nekogurashi All Rights Reserved.</p>
</footer>

</body>
</html>
